---
import { TbAirConditioning } from "react-icons/tb";
import { FaParking, FaWhatsapp } from "react-icons/fa";
import { FaKitchenSet } from "react-icons/fa6";
import { PiTelevisionSimpleFill } from "react-icons/pi";
import { FaWifi } from "react-icons/fa";
import Button from "../../components/ui/Button.astro";
import SectionTitle from "../../components/ui/SectionTitle.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import ImageModalSlider from "../../components/ImageModalSlider";
import AnimatedWrapper from "../../components/AnimatedWrapper";

const slides = [
    "/mako-tepic/tepic-01.jpg",
    "/mako-tepic/tepic-02.jpg",
    "/mako-tepic/tepic-03.jpg",
    "/mako-tepic/tepic-04.jpg",
    "/mako-tepic/tepic-05.jpg",
    "/mako-tepic/tepic-06.jpg",
    "/mako-tepic/tepic-07.jpg",
    "/mako-tepic/tepic-08.jpg",
    "/mako-tepic/tepic-09.jpg",
    "/mako-tepic/tepic-10.jpg",
    "/mako-tepic/tepic-11.jpg",
    "/mako-tepic/tepic-12.jpg",
    "/mako-tepic/tepic-13.jpg",
    "/mako-tepic/tepic-14.jpg",
    "/mako-tepic/tepic-15.jpg",
    "/mako-tepic/tepic-16.jpg",
    "/mako-tepic/tepic-17.jpg",
    "/mako-tepic/tepic-18.jpg",
    "/mako-tepic/tepic-19.jpg",
];
---

<MainLayout title="Mako Tepic">
    <a
        href="https://api.whatsapp.com/send/?phone=523221184312&text=Me%20podr%C3%A1s%20proporcionar%20m%C3%A1s%20informaci%C3%B3n%20sobre%20la%20propiedad%20MAKO%20TEPIC"
        target="_blank"
    >
        <div
            class="bg-green-600 rounded-full px-3 py-3 sm:py-4 sm:px-8 text-white fixed bottom-5 right-5 z-50 flex items-center"
        >
            <FaWhatsapp className="w-6 h-6 mr-0 sm:mr-2" />

            <span class="hidden sm:block">Contáctanos</span>
        </div>
    </a>
    <section class="bg-neutral-900">
        <div class="max-w-7xl mx-auto py-8">
            <AnimatedWrapper client:load>
                <div class="block px-8 xl:gap-16 xl:flex xl:px-4">
                    <div
                        class="flex flex-col items-center xl:block mb-5 xl:mb-0"
                    >
                        <a href="/">
                            <img
                                src="/obas-logo-white.svg"
                                alt="Obas logo"
                                class="w-20 mb-16"
                            />
                        </a>

                        <img
                            src="/mako-tepic/logo-mako-tepic.svg"
                            alt="Mako Tepic logo"
                            class="w-72 lg:w-96 xl:w-[500px]"
                        />

                        <a
                            href="https://hotels.cloudbeds.com/reservation/WEu6yV"
                            target="_blank"
                        >
                            <div class="mt-16 flex justify-end">
                                <Button texto="RESERVAR AHORA" />
                            </div>
                        </a>
                    </div>
                    <div class="w-full flex gap-x-5">
                        <div
                            class="aspect-auto bg-[url('/mako-tepic/tepic-17.jpg')] bg-cover bg-center w-1/2 rounded-lg"
                        >
                        </div>
                        <div class="w-1/2 flex flex-col justify-between">
                            <div
                                class="aspect-video bg-[url('/mako-tepic/tepic-04.jpg')] bg-cover bg-center rounded-lg mb-5"
                            >
                            </div>
                            <div
                                class="aspect-video bg-[url('/mako-tepic/tepic-08.jpg')] bg-cover bg-center rounded-lg"
                            >
                            </div>
                        </div>
                    </div>
                </div>
            </AnimatedWrapper>
        </div>
    </section>

    <!-- <AnimatedWrapper client:load> -->
    <section class="max-w-7xl mx-auto my-16 px-8 xl:px-4">
        <div class="block lg:flex gap-8">
            <div class="w-full lg:w-1/2 mb-5 lg:mb-0">
                <SectionTitle
                    titulo="Hermosa propiedad"
                    className="text-center sm:text-left"
                />

                <p>
                    <span class="font-bold">MAKO Tepic</span>, Ubicado en Calle
                    Revolución Social #519, en la colonia Menchaca de Tepic,
                    Nayarit, se encuentra este inmueble tipo loft equipado con
                    cocina integral y baño completo.
                    <br /><br />
                    Cuenta con 9 departamentos para 2 personas y 1 departamento equipado
                    para hasta 5 personas.
                </p>
            </div>

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3712.769817828961!2d-104.85860988767848!3d21.477546580204258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x84273759ae905585%3A0xa23dd682a2bae636!2sMako%20Tepic!5e0!3m2!1ses!2smx!4v1722646336203!5m2!1ses!2smx"
                height="350"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
                class="rounded-lg w-full lg:w-1/2"
            >
            </iframe>
        </div>
    </section>
    <!-- </AnimatedWrapper> -->

    <!-- <AnimatedWrapper client:load> -->
    <section class="max-w-7xl mx-auto mb-16 block xl:flex gap-5 px-8 xl:px-4">
        <div class="w-full xl:w-7/12">
            <SectionTitle
                titulo="Servicios"
                className="text-center sm:text-left"
            />
            <div
                class="mt-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-2 gap-x-16 gap-y-8 mb-8"
            >
                <div class="flex gap-5 items-center">
                    <div
                        class="border border-obas flex items-center p-4 rounded-full text-obas"
                    >
                        <TbAirConditioning size={28} />
                    </div>
                    <h4 class="font-bold">Aire acondicionado</h4>
                </div>
                <div class="flex gap-5 items-center">
                    <div
                        class="border border-obas flex items-center p-4 rounded-full text-obas"
                    >
                        <FaParking size={28} />
                    </div>
                    <h4 class="font-bold">Estacionamiento</h4>
                </div>
                <div class="flex gap-5 items-center">
                    <div
                        class="border border-obas flex items-center p-4 rounded-full text-obas"
                    >
                        <FaWifi size={28} />
                    </div>
                    <h4 class="font-bold">Wi-fi</h4>
                </div>
                <div class="flex gap-5 items-center">
                    <div
                        class="border border-obas flex items-center p-4 rounded-full text-obas"
                    >
                        <FaKitchenSet size={28} />
                    </div>
                    <h4 class="font-bold">Cocina integral</h4>
                </div>
                <div class="flex gap-5 items-center">
                    <div
                        class="border border-obas flex items-center p-4 rounded-full text-obas"
                    >
                        <PiTelevisionSimpleFill size={28} />
                    </div>
                    <h4 class="font-bold">Televisión</h4>
                </div>
            </div>
            <a
                href="https://hotels.cloudbeds.com/reservation/WEu6yV"
                target="_blank"
            >
                <div class="flex justify-center xl:justify-start">
                    <Button variant="obas" texto="RESERVAR AHORA" />
                </div>
            </a>
        </div>
        <div class="hidden xl:w-5/12 xl:flex gap-5">
            <div
                class="aspect-auto bg-[url('/mako-tepic/tepic-14.jpg')] bg-cover bg-center w-full rounded-lg"
            >
            </div>
            <div
                class="aspect-auto bg-[url('/mako-tepic/tepic-18.jpg')] bg-cover bg-center w-full rounded-lg"
            >
            </div>
        </div>
    </section>
    <!-- </AnimatedWrapper> -->

    <!-- <AnimatedWrapper client:load> -->
    <section
        class="max-w-7xl mx-auto mb-16 block xl:flex justify-between px-8 xl:px-4"
    >
        <div class="w-full xl:w-2/5 space-y-5">
            <h2
                class="font-bold font-serif uppercase text-neutral-950 text-center sm:text-left"
            >
                Increíbles vistas
            </h2>
            <p>
                Disfruta de la increíble vista que ofrecen nuestros
                departamentos con balcón.
            </p>
            <div
                class="aspect-video bg-[url('/mako-tepic/tepic-15.jpg')] bg-cover bg-center w-full rounded-lg"
            >
            </div>
            <div
                class="aspect-video bg-[url('/mako-tepic/tepic-03.jpg')] bg-cover bg-center w-full rounded-lg"
            >
            </div>
        </div>

        <div class="border border-neutral-950 hidden xl:block"></div>

        <div class="w-full xl:w-2/5 space-y-5 mt-5 xl:mt-0">
            <h2
                class="font-bold font-serif uppercase text-neutral-950 text-center sm:text-left"
            >
                Modernos interiores
            </h2>
            <p>
                Lofts modernos, acondicionados y muy acogedores, ideales hasta
                para 2 personas.
            </p>
            <div
                class="aspect-video bg-[url('/mako-tepic/tepic-12.jpg')] bg-cover bg-center w-full rounded-lg"
            >
            </div>
            <div
                class="aspect-video bg-[url('/mako-tepic/tepic-06.jpg')] bg-cover bg-center w-full rounded-lg"
            >
            </div>
        </div>
    </section>
    <!-- </AnimatedWrapper> -->

    <!-- <AnimatedWrapper client:load> -->
    <section class="max-w-7xl mx-auto mb-16 px-8 xl:px-4">
        <h2 class="font-bold font-serif uppercase text-center text-neutral-950">
            Una imagen dice más que mil palabras
        </h2>

        <ImageModalSlider client:load slides={slides} />
        <a
            href="https://hotels.cloudbeds.com/reservation/WEu6yV"
            target="_blank"
        >
            <div class="flex justify-center">
                <Button variant="obas" texto="Reservar ahora" />
            </div>
        </a>
    </section>
    <!-- </AnimatedWrapper> -->
</MainLayout>
