---
import { TbAirConditioning } from "react-icons/tb";
import { MdPool } from "react-icons/md";
import { FaParking } from "react-icons/fa";
import { SiAdguard } from "react-icons/si";
import { FaKitchenSet } from "react-icons/fa6";
import Button from "../../components/ui/Button.astro";
import SectionTitle from "../../components/ui/SectionTitle.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import ImageModalSlider from "../../components/ImageModalSlider";
import AnimatedWrapper from "../../components/AnimatedWrapper";

const slides = [
    "/mako54/mako-01.jpg",
    "/mako54/mako-02.jpg",
    "/mako54/mako-03.jpg",
    "/mako54/mako-04.jpg",
    "/mako54/mako-05.jpg",
    "/mako54/mako-06.jpg",
    "/mako54/mako-07.jpg",
    "/mako54/mako-08.jpg",
    "/mako54/mako-09.jpg",
    "/mako54/mako-10.jpg",
    "/mako54/mako-11.jpg",
    "/mako54/mako-12.jpg",
    "/mako54/mako-13.jpg",
    "/mako54/mako-14.jpg",
    "/mako54/mako-15.jpg",
    "/mako54/mako-16.jpg",
    "/mako54/mako-17.jpg",
    "/mako54/mako-18.jpg",
    "/mako54/mako-19.jpg",
];
---

<MainLayout title="MAKO 54">
    <section class="bg-neutral-900">
        <div class="max-w-7xl mx-auto py-8">
            <AnimatedWrapper client:load>
                <div class="block px-8 xl:gap-16 xl:flex xl:px-0">
                    <div
                        class="flex flex-col items-center xl:block mb-5 xl:mb-0"
                    >
                        <a href="/">
                            <img
                                src="/obas-logo-white.svg"
                                alt="Obas logo"
                                class="w-20 mb-16"
                            />
                        </a>
                        <img
                            src="/mako54/logo-mako-color.svg"
                            alt="Mako54 logo"
                            class="w-72 lg:w-96 xl:w-[500px]"
                        />
                        <div class="mt-16 flex justify-end">
                            <a
                                href="https://hotels.cloudbeds.com/reservation/MPmmBg"
                                target="_blank"
                                ><Button texto="RESERVAR AHORA" /></a
                            >
                        </div>
                    </div>
                    <div class="w-full flex gap-x-5">
                        <div
                            class="aspect-auto bg-[url('/mako54/mako-10.jpg')] bg-cover bg-center w-1/2 rounded-lg"
                        >
                        </div>
                        <div class="w-1/2 flex flex-col justify-between">
                            <div
                                class="aspect-video bg-[url('/mako54/mako-04.jpg')] bg-cover bg-center rounded-lg mb-5"
                            >
                            </div>
                            <div
                                class="aspect-video bg-[url('/mako54/mako-08.jpg')] bg-cover bg-center rounded-lg"
                            >
                            </div>
                        </div>
                    </div>
                </div>
            </AnimatedWrapper>
        </div>
    </section>

    <!-- <AnimatedWrapper client:load> -->
        <section class="max-w-7xl mx-auto my-16 px-8 xl:px-4">
            <div class="block lg:flex gap-8">
                <div class="w-full lg:w-1/2 mb-5 lg:mb-0">
                    <SectionTitle
                        titulo="Excelente ubicación"
                        className="text-center sm:text-left"
                    />

                    <p>
                        <span class="font-bold">MAKO 54</span>, A tan sólo unas
                        cuantas cuadras de la playa se encuentra Mako 54,
                        rodeado de atractivas propuestas y ubicado en la icónica
                        colonia 5 de Diciembre, en Puerto Vallarta
                        <br /><br />
                        Al contrar con 4 suits para 2 personas y 2 suits dobles,
                        para 4 personas cada una, la tranquilidad forma parte esencial
                        de Mako 54.
                    </p>
                </div>

                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3734.1595180760137!2d-105.22852778769341!3d20.62235378084759!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842145e5bf332f0d%3A0x145b84a6b8b1f52a!2sMako%2054%20-%20Apartments%20for%20rent!5e0!3m2!1ses!2smx!4v1722394198083!5m2!1ses!2smx"
                    height="350"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                    class="rounded-lg w-full lg:w-1/2"
                >
                </iframe>
            </div>
        </section>
    <!-- </AnimatedWrapper> -->

    <!-- <AnimatedWrapper client:load> -->
        <section
            class="max-w-7xl mx-auto mb-16 block xl:flex gap-5 px-8 xl:px-4"
        >
            <div class="w-full xl:w-7/12">
                <SectionTitle
                    titulo="Servicios"
                    className="text-center sm:text-left"
                />
                <div
                    class="mt-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-2 gap-x-16 gap-y-8 mb-8"
                >
                    <div class="flex gap-5 items-center">
                        <div
                            class="border border-obas flex items-center p-4 rounded-full text-obas"
                        >
                            <MdPool size={28} />
                        </div>
                        <h4 class="font-bold">Rooftop con alberca</h4>
                    </div>
                    <div class="flex gap-5 items-center">
                        <div
                            class="border border-obas flex items-center p-4 rounded-full text-obas"
                        >
                            <FaParking size={28} />
                        </div>
                        <h4 class="font-bold">Estacionamiento techado</h4>
                    </div>
                    <div class="flex gap-5 items-center">
                        <div
                            class="border border-obas flex items-center p-4 rounded-full text-obas"
                        >
                            <SiAdguard size={28} />
                        </div>
                        <h4 class="font-bold">Seguridad privada</h4>
                    </div>
                    <div class="flex gap-5 items-center">
                        <div
                            class="border border-obas flex items-center p-4 rounded-full text-obas"
                        >
                            <TbAirConditioning size={28} />
                        </div>
                        <h4 class="font-bold">Aire acondicionado</h4>
                    </div>
                    <div class="flex gap-5 items-center">
                        <div
                            class="border border-obas flex items-center p-4 rounded-full text-obas"
                        >
                            <FaKitchenSet size={28} />
                        </div>
                        <h4 class="font-bold">Cocina integral</h4>
                    </div>
                </div>
                <a
                    href="https://hotels.cloudbeds.com/reservation/MPmmBg"
                    target="_blank"
                >
                    <div class="flex justify-center xl:justify-start">
                        <Button variant="obas" texto="RESERVAR AHORA" />
                    </div>
                </a>
            </div>
            <div class="w-5/12 flex gap-5">
                <div
                    class="aspect-auto bg-[url('/mako54/mako-14.jpg')] bg-cover bg-center w-full rounded-lg"
                >
                </div>
                <div
                    class="aspect-auto bg-[url('/mako54/mako-18.jpg')] bg-cover bg-center w-full rounded-lg"
                >
                </div>
            </div>
        </section>
    <!-- </AnimatedWrapper> -->

    <!-- <AnimatedWrapper client:load> -->
        <section class="max-w-7xl mx-auto mb-16 block xl:flex justify-between px-8 xl:px-4">
            <div class="w-full xl:w-2/5 space-y-5">
                <h2 class="font-bold font-serif uppercase text-neutral-950 text-center sm:text-left">
                    Magnífica vista
                </h2>
                <p>
                    Disfruta de la magnífica vista del rooftop, acondicionado
                    con alberca y camastros.
                </p>
                <div
                    class="aspect-video bg-[url('/mako54/mako-07.jpg')] bg-cover bg-center w-full rounded-lg"
                >
                </div>
                <div
                    class="aspect-video bg-[url('/mako54/mako-08.jpg')] bg-cover bg-center w-full rounded-lg"
                >
                </div>
            </div>

            <div class="border border-neutral-950 hidden xl:block"></div>

            <div class="w-full xl:w-2/5 space-y-5 mt-5 xl:mt-0">
                <h2 class="font-bold font-serif uppercase text-neutral-950 text-center sm:text-left">
                    Modernos interiores
                </h2>
                <p>Lofts modernos.</p>
                <div
                    class="aspect-video bg-[url('/mako54/mako-12.jpg')] bg-cover bg-center w-full rounded-lg"
                >
                </div>
                <div
                    class="aspect-video bg-[url('/mako54/mako-11.jpg')] bg-cover bg-center w-full rounded-lg"
                >
                </div>
            </div>
        </section>
    <!-- </AnimatedWrapper> -->

    <!-- <AnimatedWrapper client:load> -->
        <section class="max-w-7xl mx-auto mb-16 px-8 xl:px-4">
            <h2
                class="font-bold font-serif uppercase text-center text-neutral-950"
            >
                Una imagen dice más que mil palabras
            </h2>

            <ImageModalSlider client:load slides={slides} />
            <a
                href="https://hotels.cloudbeds.com/reservation/MPmmBg"
                target="_blank"
            >
                <div class="flex justify-center">
                    <Button variant="obas" texto="Reservar ahora" />
                </div>
            </a>
        </section>
    <!-- </AnimatedWrapper> -->
</MainLayout>
