---
import {
	FaWalking,
	FaHands,
	FaCoffee,
	FaConciergeBell,
	FaCamera,
	FaBed,
} from "react-icons/fa";
import MainLayout from "../layouts/MainLayout.astro";
import CardHome from "../components/ui/CardHome.astro";
import SectionTitle from "../components/ui/SectionTitle.astro";
import CardTestimonio from "../components/ui/CardTestimonio.astro";
import HeroSlider from "../components/HeroSlider";
import AnimatedWrapper from "../components/AnimatedWrapper";
---

<MainLayout>
	<main class="bg-neutral-900 w-full max-h-screen h-full p-4 flex gap-16">
		<HeroSlider client:load />
	</main>

	<section class="pt-16 max-w-[96rem] mx-auto px-8 2xl:px-0">
		<AnimatedWrapper client:load>
			<SectionTitle className="text-center" titulo="Nuestros servicios" />
		</AnimatedWrapper>

		<div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8 mb-16">
			<AnimatedWrapper client:load>
				<CardHome
					num="01"
					titulo="Cercanía"
					texto={`Nuestras habitaciones están estratégicamente localizadas para que puedas disfrutar de tu estancia y las atracciones más importantes en tu destino.`}
				>
					<FaWalking size={40} slot="icon" />
				</CardHome>
			</AnimatedWrapper>
			<AnimatedWrapper client:load>
				<CardHome
					num="02"
					titulo="Calidad premium"
					texto={`Somos profesionales en el ramo de hospedaje. Ofrecemos transparencia y honestidad para que nuestros clientes queden satisfechos y regresen con nosotros.`}
				>
					<FaHands size={40} slot="icon" />
				</CardHome>
			</AnimatedWrapper>
			<AnimatedWrapper client:load>
				<CardHome
					num="03"
					titulo="Áreas de trabajo"
					texto={`Si además de relajarte busca un espacio cómodo para trabajar, nuestras habitaciones cuentan con lo que necesitas para tener tu oficina remota en un lugar reconfortante.`}
				>
					<FaCoffee size={40} slot="icon" />
				</CardHome>
			</AnimatedWrapper>
			<AnimatedWrapper client:load>
				<CardHome
					num="04"
					titulo="Reservación directa"
					texto={`Nuestras habitaciones están estratégicamente localizadas para que puedas disfrutar de tu estancia y las atracciones más importantes en tu destino.`}
				>
					<FaConciergeBell size={40} slot="icon" />
				</CardHome>
			</AnimatedWrapper>
			<AnimatedWrapper client:load>
				<CardHome
					num="05"
					titulo="Excelentes vistas"
					texto="Disfruta de las mejores vistas de nuestras locaciones y espacios armoniosos que complementarán tu experiencia en todo momento."
				>
					<FaCamera size={40} slot="icon" />
				</CardHome>
			</AnimatedWrapper>
			<AnimatedWrapper client:load>
				<CardHome
					num="06"
					titulo="Comodidad"
					texto={`Siéntete como en casa con todos los servicios incluídos, espacios de relajación, cocinas integrales, camas suaves y limpieza en cada área.`}
				>
					<FaBed size={40} slot="icon" />
				</CardHome>
			</AnimatedWrapper>
		</div>
	</section>

	<AnimatedWrapper client:load>
		<SectionTitle
			className="text-center"
			titulo="Algo para todos los gustos"
		/>
	</AnimatedWrapper>
	<AnimatedWrapper client:load>
		<section class="lg:h-96 h-72 w-full flex">
			<div
				class="w-full h-full bg-[url('/comodidad.jpg')] bg-cover bg-center relative group"
			>
				<div
					class="absolute inset-0 bg-black opacity-0 group-hover:opacity-50 transition-opacity"
				>
				</div>
				<div
					class="absolute inset-0 flex items-center justify-center text-white opacity-0 group-hover:opacity-100 transition-opacity"
				>
					<p class="text-4xl uppercase font-serif font-bold">
						Comodidad
					</p>
				</div>
			</div>
			<div
				class="w-full h-full bg-[url('/ciudad.jpg')] bg-cover bg-center relative group"
			>
				<div
					class="absolute inset-0 bg-black opacity-0 group-hover:opacity-50 transition-opacity"
				>
				</div>
				<div
					class="absolute inset-0 flex items-center justify-center text-white opacity-0 group-hover:opacity-100 transition-opacity"
				>
					<p class="text-4xl uppercase font-serif font-bold">
						Ciudad
					</p>
				</div>
			</div>
			<div
				class="w-full h-full bg-[url('/mako54/mako-02.jpg')] bg-cover bg-center relative group"
			>
				<div
					class="absolute inset-0 bg-black opacity-0 group-hover:opacity-50 transition-opacity"
				>
				</div>
				<div
					class="absolute inset-0 flex items-center justify-center text-white opacity-0 group-hover:opacity-100 transition-opacity"
				>
					<p class="text-4xl uppercase font-serif font-bold">Playa</p>
				</div>
			</div>
		</section>
	</AnimatedWrapper>

	<AnimatedWrapper client:load>
		<section
			class="py-16 px-8 bg-[url('/mako54/mako-overlay.png')] bg-cover bg-center"
		>
			<SectionTitle
				titulo="Clientes satisfechos"
				className="text-white text-center"
			/>
			<div class="grid grid-cols-1 xl:grid-cols-3 gap-8">
				<CardTestimonio
					texto={`El lugar es el mismo que se publica en las fotos, todo muy limpio y ordenado y muy agradable la estancia, recomendado`}
					nombre="Christopher"
					fecha="Julio de 2022"
				/>
				<CardTestimonio
					texto={`Las instalaciones cuentan con todo lo necesario, son nuevas, muy comodo y los servicios son excelentes.`}
					nombre="Ruben"
					fecha="Octubre de 2022"
				/>
				<CardTestimonio
					texto={`Es un excelente lugar para disfrutar de la ciudad, situado cerca de locales comerciales, limpio, con todas las comodidades y atencioned excepcionales, perfecto.`}
					nombre="Marimar"
					fecha="Noviembre de 2022"
				/>
			</div>
		</section>
	</AnimatedWrapper>
</MainLayout>
