---
import { FaFacebook, FaInstagram } from "react-icons/fa";
import Button from "./Button.astro";
---

<footer class="p-8 sm:p-16 bg-neutral-950">
    <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-5 text-center md:text-left"
    >
        <div>
            <h5 class="text-gray-400 uppercase font-normal mb-5">
                Propiedades
            </h5>
            <h5 class="text-white mb-5">Mako 54</h5>
            <h5 class="text-white">Revu 519</h5>
            <h5 class="text-white mt-32">©Copyright Obas 2024</h5>
        </div>
        <div>
            <h5 class="text-gray-400 uppercase font-normal mb-5">Empresa</h5>
            <h5 class="text-white mb-5">Acerca de</h5>
            <h5 class="text-white">Misión</h5>
            <h5 class="text-white">Visión</h5>
        </div>
        <div class="mx-auto md:mx-0">
            <h5 class="text-gray-400 uppercase font-normal mb-5">
                Redes sociales
            </h5>
            <div class="flex gap-5">
                <a
                    href="https://www.facebook.com/obasdesign?mibextid=LQQJ4d"
                    target="_blank"
                >
                    <FaFacebook size={32} className="text-white" />
                </a>
                <a
                    href="https://www.instagram.com/obasdesign?igshid=MzRlODBiNWFlZA%3D%3D"
                    target="_blank"
                >
                    <FaInstagram size={32} className="text-white" />
                </a>
            </div>
        </div>
        <div class="w-52 mx-auto md:mx-0">
            <img src="/obas-logo.svg" alt="Logo Obas" />
        </div>
        <div class="2xl:col-span-1 md:col-span-2 col-span-1">
            <h5 class="text-gray-400 uppercase font-normal mb-5">
                Suscríbete a la lista de correos
            </h5>
            <div
                class="bg-white flex items-center justify-between rounded-full p-2"
            >
                <input
                    type="text"
                    class="w-full ml-4 mr-2 focus:outline-none"
                    placeholder="correo@ejemplo.com"
                />
                <Button variant="contained" texto="Suscribirse" />
            </div>
        </div>
    </div>
</footer>
